<footer>
  <div class="footer container">
	<div class="footer-logo">
	  <a href="index.html" class="link-logo">
		<img src="img/logo.png" alt="logo">BRAN<span>D</span>
	  </a>
	  <p>
		Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate
		multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of
		processes and cross-unit partnerships. <br><br>

		Efficiently plagiarize 24/365 action items and focused infomediaries.<br>
		Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
	  </p>
	</div>
	<nav class="footer-menu-top">
	  <div>
		<h2>COMPANY</h2>
		<ul>
		  <li><a href="index.html">Home</a></li>
		  <li><a href="product.html">Shop</a></li>
		  <li><a href="#">About</a></li>
		  <li><a href="#">How It Works</a></li>
		  <li><a href="#">Contact</a></li>
		</ul>
	  </div>
	  <div>
		<h2>INFORMATION</h2>
		<ul>
		  <li><a href="#">Tearms & Condition</a></li>
		  <li><a href="#">Privacy Policy</a></li>
		  <li><a href="#">How to Buy</a></li>
		  <li><a href="#">How to Sell</a></li>
		  <li><a href="#">Promotion</a></li>
		</ul>
	  </div>
	  <div>
		<h2>SHOP CATEGORY</h2>
		<ul>
		  <li><a href="product.html">Men</a></li>
		  <li><a href="#">Women</a></li>
		  <li><a href="#">Child</a></li>
		  <li><a href="#">Apparel</a></li>
		  <li><a href="#">Brows All</a></li>
		</ul>
	  </div>
	</nav>
  </div>

  <div class="footer-bottom">
	<div class="container footer-menu-bottom">
	  <div>&copy; 2017 Brand All Rights Reserved.</div>
	  <div>
		<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="#" class="inactive"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
	  </div>
	</div>
  </div>
</footer>

<script src="js/main.js"></script>