<header class="header">
	<div class="container header-flex">
		<div class="header-left">
			<a href="index.html" class="link-logo">
				<img src="img/logo.png" alt="logo">BRAN<span>D</span>
			</a>
			<div class="browse">
				<a href="#">Browse<i class="fa fa-caret-down"></i></a>
				<div class="drop-down">
					<div class="drop-down-flex">
						<h3>MEN</h3>
						<ul class="mega-list">
							<li><a href="product.html">Jackets & Coats</a></li>
							<li><a href="product.html">Dresses</a></li>
							<li><a href="product.html">Tops</a></li>
							<li><a href="product.html">Sweaters & Knits</a></li>
							<li><a href="product.html">Blazers</a></li>
							<li><a href="product.html">Denim</a></li>
							<li><a href="product.html">Leggings & Pants</a></li>
							<li><a href="product.html">Skirts & Shorts</a></li>
							<li><a href="product.html">Accessories</a></li>
						</ul>
					</div>
					<div class="mega-flex">
						<h3>WOMEN</h3>
						<ul class="mega-list">
							<li><a href="product.html">Tees & Tank tops</a></li>
							<li><a href="product.html">Shirts & Polos</a></li>
							<li><a href="product.html">Sweaters</a></li>
							<li><a href="product.html">Sweatshirts & Hoodies</a></li>
							<li><a href="product.html">Blazers</a></li>
							<li><a href="product.html">Jackets & Vests</a></li>
						</ul>
					</div>
				</div>
			</div>
			<form action="#">
				<input type="text" placeholder="Search for Item...">
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
		<div class="header-right">
			<div class="cart-header">
				<a href="cart.html"><img src="img/cart(1).svg" alt="cart" class="cart-header-img"></a>
				<div class="triangle"></div>
				<div class="drop-down">
					<div class="cart-container"></div>
					<div class="cart-added cart-item template">
						<a href="single.html" class="cart-item-href"><img src="img/cart-img-1.jpg" alt="Rebox Zane"
																															class="cart-item-img"></a>
						<div class="desc">
							<a href="single.html" class="cart-item-name cart-item-href"></a>
							<div class="stars">
								<img src="img/star.svg" alt="">
								<img src="img/star.svg" alt="">
								<img src="img/star.svg" alt="">
								<img src="img/star.svg" alt="">
								<img src="img/star.svg" alt="">
								<div class="rate"></div>
							</div>
							<div><span class="cart-item-quantity"></span><span> x $</span><span class="cart-item-price"></span></div>
						</div>
						<button class="cart-item-del"><i class="fa fa-times-circle"></i></button>
					</div>
					<div class="total">
						<p>TOTAL</p>
						<p>$<span class="cart-total"></span>.00</p>
					</div>
					<a href="checkout.html" class="button">Checkout</a>
					<a href="cart.html" class="button">Go to cart</a>
				</div>
			</div>
			<a href="#" class="my-acc-btn">My Account<i class="fa fa-caret-down"></i></a>
		</div>
	</div>
</header>

<nav class="container header_nav">
	<ul class="menu">
		<li><a href="index.html" class="">Home</a></li>
		<li><a href="product.html" class="">Man</a>
			<div class="triangle"></div>
			<div class="mega">
				<div class="mega-flex">
					<h3>CATEGORIES</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Jackets & Coats</a></li>
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Blazers</a></li>
						<li><a href="#" class="">Denim</a></li>
						<li><a href="#" class="">Leggings/Pants</a></li>
						<li><a href="#" class="">Skirts/Shorts</a></li>
						<li><a href="#" class="">Accessories</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>TRENDING NOW</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Bohemian</a></li>
						<li><a href="#" class="">Floral</a></li>
						<li><a href="#" class="">Lace</a></li>
					</ul>
					<h3>MAN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>MAN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<a href="#">
						<p>SUPER<br>SALE!</p>
					</a>
				</div>
			</div>
		</li>
		<li><a href="#" class="">Women</a>
			<div class="triangle"></div>
			<div class="mega">
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
						<li><a href="#" class="">Blazers</a></li>
						<li><a href="#" class="">Denim</a></li>
						<li><a href="#" class="">Leggings/Pants</a></li>
						<li><a href="#" class="">Skirts/Shorts</a></li>
						<li><a href="#" class="">Accessories</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<a href="#">
						<p>SUPER<br>SALE!</p>
					</a>
				</div>
			</div>
		</li>
		<li><a href="#" class="">Accessories</a>
			<div class="triangle"></div>
			<div class="mega">
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
						<li><a href="#" class="">Blazers</a></li>
						<li><a href="#" class="">Denim</a></li>
						<li><a href="#" class="">Leggings/Pants</a></li>
						<li><a href="#" class="">Skirts/Shorts</a></li>
						<li><a href="#" class="">Accessories</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<a href="#">
						<p>SUPER<br>SALE!</p>
					</a>
				</div>
			</div>
		</li>
		<li><a href="#" class="">Featured</a>
			<div class="triangle"></div>
			<div class="mega">
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
						<li><a href="#" class="">Blazers</a></li>
						<li><a href="#" class="">Denim</a></li>
						<li><a href="#" class="">Leggings/Pants</a></li>
						<li><a href="#" class="">Skirts/Shorts</a></li>
						<li><a href="#" class="">Accessories</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<a href="#">
						<p>SUPER<br>SALE!</p>
					</a>
				</div>
			</div>
		</li>
		<li><a href="#" class="">Hot Deals</a>
			<div class="triangle"></div>
			<div class="mega">
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
						<li><a href="#" class="">Blazers</a></li>
						<li><a href="#" class="">Denim</a></li>
						<li><a href="#" class="">Leggings/Pants</a></li>
						<li><a href="#" class="">Skirts/Shorts</a></li>
						<li><a href="#" class="">Accessories</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
					</ul>
				</div>
				<div class="mega-flex">
					<h3>WOMEN</h3>
					<ul class="mega-list">
						<li><a href="#" class="">Dresses</a></li>
						<li><a href="#" class="">Tops</a></li>
						<li><a href="#" class="">Sweaters/Knits</a></li>
						<li><a href="#" class="">Jackets/Coats</a></li>
					</ul>
					<a href="#">
						<p>SUPER<br>SALE!</p>
					</a>
				</div>
			</div>
		</li>
	</ul>
</nav>